.App-header{
  background-color: black;
  color: red;
  display: flex;
  justify-content: space-around;
}

#nav-container{
  width: 90%;
}

#nav-fix{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

ul{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

#cart-container{
  width: 10%;
  display: flex;
  align-items: center;
}

#greeting-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.item-count-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-color: rgb(100, 98, 98);
  border-style: groove;
  border-radius: 20%;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: rgb(240, 240, 240);
}

.itemcount-button-order{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
}

.qty-value{
  padding-left: 20px;
  padding-right: 20px;
}

#item-list{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-content: flex-start;
  padding-bottom: 100px;
  padding-top: 20px;
}

#item{
  border: black;
  border-style: groove;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  border-radius: 9%;
}

#item-detail-container{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  border-radius: 20%;
}

#item-detail{
  border: black;
  border-style: groove;
  border-radius: 2.50%;
  width: 75%;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

#id-positioning{
  display: flex;
  justify-content: flex-end;
}

a{
  color: red;
}


#Cart, #Donations{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  font-weight: bold;
}

#purchase-confirmation{
  border-radius: 5%;
}
