.App-header{
  background-color: black;
  color: red;
  display: flex;
  justify-content: space-around;
}

#nav-container{
  width: 90%;
}

#nav-fix{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

ul{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

#cart-container{
  width: 10%;
  display: flex;
  align-items: center;
}

#greeting-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}